.testimonials_section {
    background: #FFF5F4;
}

.testimonials_section .sec_content {
    margin-top: 60px;
}

.box {
    background: var(--light-color);
    border-radius: 36px;
    padding: 30px;
}

.head {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.img {
    width: 86px;
    height: 86px;
    position: relative;
    z-index: 1;
}

.head h6 {
    margin: 0;
}

.box p {
    height: 130px;
    margin-top: 25px;
}

@media screen and (max-width:1600px) {}

@media screen and (max-width:1399px) {}

@media screen and (max-width:1199px) {}

@media screen and (max-width:991px) {}

@media screen and (max-width:767px) {
    .sec_top h2 {
        line-height: 30px;
    }

    .testimonials_section .sec_content {
        margin-top: 30px;
    }

    .box {
        padding: 15px;
    }

    .img {
        width: 60px;
        height: 60px;
        position: relative;
        z-index: 1;
    }

    .box p {
        margin-top: 15px;
    }
}

@media screen and (max-width:575px) {
    .sec_top h2 {
        line-height: 35px;
    }

    .testimonials_section .sec_content {
        margin-top: 30px;
    }
}