.actionplan_section {
    background: #ECF2FF;
    padding: 80px 0 0;
    overflow: hidden;
}

.actionplan_section .sec_top h2 {
    font-size: 55px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -3.1px;
}

.actionplan_section .sec_top h2 span {
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: -4px;
}

.actionplan_section .sec_content {
    margin-top: 60px;
    position: relative;
    z-index: 1;
}

.actionplan_section .sec_content .contentBg {
    z-index: -1;
}

.actionplan_section .sec_content ul {
    display: flex;
    justify-content: start;
    align-items: end;
    position: relative;
    z-index: 1;
}

.actionplan_section .sec_content li {
    width: 20%;
    height: 600px;
    display: flex;
    justify-content: start;
    align-items: end;
    border-right: 1px solid var(--light-color);
    padding: 50px 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
}

.actionplan_section .sec_content li::before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.83;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 45.69%, #FFF 94.36%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.actionplan_section .sec_content li h5 {
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -1.14px;
    text-transform: capitalize;
    opacity: 1;
    transition: var(--cubic);
}

.actionplan_section .sec_content li:hover h5 {
    opacity: 0;
}

.actionplan_section .sec_content li .inner_wrapper {
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 10px;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(15.988897323608398px);
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: 2;
    transition: var(--cubic);
}

.actionplan_section .sec_content li:hover .inner_wrapper {
    bottom: 0;
}

.actionplan_section .sec_content li:hover .inner_wrapper h5 {
    opacity: 1;
}

.actionplan_section .sec_content li .inner_wrapper p {
    height: 100px;
    margin: 0;
}

.actionplan_section .sec_content li .inner_wrapper button {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background: transparent;
    color: var(--dark-light);
    font-weight: 600;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}

@media screen and (max-width:1600px) {
    .actionplan_section {
        padding: 60px 0 0;
    }

    .actionplan_section .sec_top h2 {
        font-size: 50px;
        line-height: 50px;
    }

    .actionplan_section .sec_top h2 span {
        font-size: 55px;
        line-height: 55px;
    }

    .actionplan_section .sec_content {
        margin-top: 40px;
    }

    .actionplan_section .sec_content li {
        height: 450px;
        padding: 50px 20px;
    }

    .actionplan_section .sec_content li h5 {
        font-size: 25px;
        line-height: 30px;
    }
}

@media screen and (max-width:1399px) {
    .actionplan_section {
        padding: 40px 0 0;
    }

    .actionplan_section .sec_top h2,
    .actionplan_section .sec_top h2 span {
        font-size: 50px;
        line-height: 50px;
    }

    .actionplan_section .sec_content {
        margin-top: 20px;
    }

    .actionplan_section .sec_content li h5 {
        font-size: 25px;
        line-height: 30px;
    }
}

@media screen and (max-width:1199px) {

    .actionplan_section .sec_top h2,
    .actionplan_section .sec_top h2 span {
        font-size: 40px;
        line-height: 40px;
    }

    .actionplan_section .sec_content {
        margin-top: 20px;
    }

    .actionplan_section .sec_content li {
        height: 350px;
        padding: 50px 10px;
    }

    .actionplan_section .sec_content li h5 {
        font-size: 20px;
        line-height: 25px;
    }
}

@media screen and (max-width:991px) {

    .actionplan_section .sec_top h2,
    .actionplan_section .sec_top h2 span {
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -1px;
    }

    .actionplan_section .sec_content li {
        width: 100%;
        border-left: 1px solid var(--light-color);
    }

    .actionplan_section .sec_content :global(.swiper-slide-active) li .inner_wrapper {
        bottom: 0;
    }

    .actionplan_section .sec_content :global(.swiper-slide-active) li .inner_wrapper h5 {
        opacity: 1;
    }
}

@media screen and (max-width:767px) {
    .actionplan_section .sec_top h2,
    .actionplan_section .sec_top h2 span {
        font-size: 25px;
        line-height: 25px;
    }
}

@media screen and (max-width:575px) {}